[Unit]
Description=CockroachDB node 1
Documentation=http://nubix.io

[Service]
Type=simple
PIDFile=/var/spool/cockroach/pid/cockroach1.pid
ExecStart=/usr/local/bin/cockroach start --insecure --host=localhost
ExecStop=/usr/local/bin/cockroach quit --insecure
SyslogIdentifier=cockroachdb1
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias=cockroach1
